:root {
    --black: #000;
    --blue: #625BF6;
    --blue--darker: #5D6DB5;
    --white: #fff;
    --dark-blue: #002b5c;
    --light-blue: #09c;
    --red: #ed7a5b;
    --yellow: #ebbf47;
    --green: #66d4bd;
    --purple: #d4a1ed;
    --dark-grey: #768190;
    --grey: #abb3bd;
    --silver: #ccd4de;
    --silver-24: rgba(204, 212, 222, 0.16);
    --silver--darker: #abb3bd;
    --light-grey: #f2f5f7;
    --input-shadow: rgba(0, 0, 0, 0.16);
    --dept-z200-shadow: rgba(0, 0, 0, 0.16);
    --modal-shadow: rgba(0, 0, 0, 0.4);
    --z-index-ground-1: 1;
    --z-index-ground-2: 2;
    --z-index-ground-3: 3;
    --z-index-middle-1: 4;
    --z-index-middle-2: 5;
    --z-index-middle-3: 6;
    --z-index-top-1: 7;
    --z-index-top-2: 8;
    --z-index-top-3: 9;
    --z-index-over-the-top: 10;
    --page-max-width: 1200px;
    --page-border-spacing-desktop: 32px;
    --page-border-spacing-mobile: 24px;
    --page-border-spacing-small-mobile:8px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-rendering: auto;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing:grayscale !important
}

.navigation {
    font-family: 'Poppins', sans-serif;
}

.main-menu.menu-light .navigation li a {
    color: var(--black);
}

.main-menu.menu-light .navigation > li.hover > a,
.main-menu.menu-light .navigation > li:hover > a,
.main-menu.menu-light .navigation > li.active > a {
    background-color: var(--black);
    color: #fff;
}

.main-menu.menu-light .navigation li.active {
    border-left: 4px solid var(--blue);
}

.border-color-c1 {
    border: 1px solid #625BF6;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.status-table td select{
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccd6e6;
}


.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

.phone {
	-moz-appearance: textfield !important;
}

.select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 0px 1.5em;
    background-repeat: no-repeat;
}

.select:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        0px 1.5em;
    background-repeat: no-repeat;
    border-color: #000;
    outline: 0;
}


.lang-combination-table select,
.lang-combination-table input{
    min-width: 200px;
}
